/* ======= HOME SECTION ======= */

.home{
padding:30px 9%;
background:#ffffff;
position:relative;
overflow:hidden;
min-height:600px;

/* FULL CAD GRID BACKGROUND */
background-image:
linear-gradient(rgba(0,0,0,0.08) 1px, transparent 1px),
linear-gradient(90deg, rgba(0,0,0,0.08) 1px, transparent 1px);
background-size:70px 70px;
background-position:center;
}

/* HERO CONTAINER */
.home-container{
display:flex;
align-items:center;
justify-content:space-between;
gap:50px;
}

/* LEFT TEXT */
.hero-text{
flex:1.3;
}

.logo{
width:140px;
margin-bottom:20px;
}

.hero-text h1{
font-size:3rem;
margin-bottom:20px;
color:#1a1a2e;
}

/* COMPANY NAME IN ORANGE */
.company-name{
color:rgb(209, 0, 0);
}

/* PARAGRAPH */
.hero-text p{
font-size:1.2rem;
color:#555;
margin-bottom:30px;
max-width:500px;
}

/* BUTTONS */
.hero-buttons{
display:flex;
gap:15px;
margin-bottom:30px;
}

.btn-primary{
background:#1668c6;
color:white;
padding:12px 26px;
border-radius:6px;
text-decoration:none;
font-weight:500;
}

.btn-primary:hover{
background:#005fcc;
}

.btn-secondary{
border:2px solid orange;
padding:12px 26px;
border-radius:6px;
text-decoration:none;
color:#0077ff;
}

.btn-secondary:hover{
background:#0077ff;
color:white;
}

/* STATS */
.hero-stats{
display:flex;
gap:40px;
margin-top:20px;
}

.hero-stats h3{
font-size:28px;
color:#0077ff;
margin-bottom:5px;
}

.hero-stats p{
font-size:14px;
color:#777;
}

/* RIGHT IMAGE */
.hero-image{
flex:0.7;
text-align:center;
}

.hero-image img{
width:100%;
max-width:420px;
}

/* DARK MODE */
body.dark-mode .home{
background-color:#121212;
background-image:
linear-gradient(rgba(255,255,255,0.08) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,0.08) 1px, transparent 1px);
}

body.dark-mode .hero-text h1{
color:#eee;
}

body.dark-mode .hero-text p{
color:#ccc;
}

/* RESPONSIVE */
@media(max-width:900px){

.home-container{
flex-direction:column;
text-align:center;
}

.hero-text p{
margin:auto;
}

.hero-buttons{
justify-content:center;
}

.hero-stats{
justify-content:center;
}

.hero-image{
flex:1;
}

.hero-image img{
max-width:300px;
}
}